doctype html
html
  head
    title Landing Page
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/animate.min.css')
    link(rel='stylesheet', href='./css/ionicons.min.css')
    link(rel='stylesheet', href='./css/styles.css')
  body
    nav#topNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='/') Weeeeeeeee!
        #bs-navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a.page-scroll(href='#one') Intro
            li
              a.page-scroll(href='#two') Highlights
            li
              a.page-scroll(href='#three') Gallery
            li
              a.page-scroll(href='#four') Features
            li
              a.page-scroll(href='#last') Contact
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(data-toggle='modal', title='A free Bootstrap video landing theme', href='#aboutModal') About
    #dynamic-text
    header#first
      .header-content.search-animation
        .inner.search-animation
          h1.cursive Weeeeeeeeee!
          input#main-search-box.btn.btn-primary.search-animation(name='q')
          a#toggleSearch.btn.btn-primary.btn-xl.search-animation(href='#search', data-toggle='collapse') Search
          a.btn.btn-primary.btn-xl.lucky-btn.search-animation(href='#one') I'm feeling lucky!
      #Landing-background.fillWidth.fadeIn.wow.collapse.in
      .search-result
        .lds-ripple
          div
          div
        ul
        p.pager
    footer#footer
      .container-fluid
        .row
          .col-xs-6.col-sm-3.column
            h4 Information
            ul.list-unstyled
              li
                a(href='') Products
              li
                a(href='') Services
              li
                a(href='') Benefits
              li
                a(href='') Developers
          .col-xs-6.col-sm-3.column
            h4 About
            ul.list-unstyled
              li
                a(href='#') Contact Us
              li
                a(href='#') Delivery Information
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Terms & Conditions
          .col-xs-12.col-sm-3.column
            h4 Stay Posted
            form
              .form-group
                input.form-control(type='text', title='No spam, we promise!', placeholder='Tell us your email')
              .form-group
                button.btn.btn-primary(data-toggle='modal', data-target='#alertModal', type='button') Subscribe for updates
          .col-xs-12.col-sm-3.text-right
            h4 Follow
            ul.list-inline
              li
                a(rel='nofollow', href='', title='Twitter')
                  i.icon-lg.ion-social-twitter-outline
              li
                a(rel='nofollow', href='', title='Facebook')
                  i.icon-lg.ion-social-facebook-outline
              li
                a(rel='nofollow', href='', title='Dribble')
                  i.icon-lg.ion-social-dribbble-outline
        br
        span.pull-right.text-muted.small
          a(href='http://www.bootstrapzero.com') Landing Zero by BootstrapZero
          |  ©2015 Company
    #galleryModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-body
            img#galleryImage.img-responsive(src='')
            p
              br
              button.btn.btn-primary.btn-lg.center-block(data-dismiss='modal', aria-hidden='true')
                | Close 
                i.ion-android-close
    #aboutModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h2.text-center Landing Zero Theme
            h5.text-center
              | A free, responsive landing page theme built by BootstrapZero.
            p.text-justify
              | This is a single-page Bootstrap template with a sleek dark/grey color scheme, accent color and smooth scrolling.
              | There are vertical content sections with subtle animations that are activated when scrolled into view using the jQuery WOW plugin. There is also a gallery with modals
              | that work nicely to showcase your work portfolio. Other features include a contact form, email subscribe form, multi-column footer. Uses Questrial Google Font and Ionicons.
            p.text-center
              a(href='http://www.bootstrapzero.com') Download at BootstrapZero
            br
            button.btn.btn-primary.btn-lg.center-block(data-dismiss='modal', aria-hidden='true')  OK 
    #alertModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            h2.text-center Nice Job!
            p.text-center
              | You clicked the button, but it doesn't actually go anywhere because this is only a demo.
            p.text-center
              a(href='http://www.bootstrapzero.com') Learn more at BootstrapZero
            br
            button.btn.btn-primary.btn-lg.center-block(data-dismiss='modal', aria-hidden='true')
              | OK 
              i.ion-android-close
    // scripts loaded here
    script(src='./js/jquery.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/floatingtext.js')
    script(src='./js/search.js')
